<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <targets>
    <target name="infologfile" xsi:type="File" fileName="${logDirectory}/info.log" />
    <target name="errorlogfile" xsi:type="File" fileName="${logDirectory}/error.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="infologfile" />
    <logger name="*" minlevel="Error" writeTo="errorlogfile" />
  </rules>
</nlog>